* {
  font-family: "Euclid Circular A", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 50;
  align-items: center;
  justify-content: center;
}

.loading.active {
  display: flex;
}
